<h2>About this acount</h2>

<div class="form">
    <form>
        <div class="form-group">
            <label for="cif">CIF/NIF:</label><br>
            <input type="text" id="cif">
        </div>

        <div class="form-group">
            <label for="socialReason">Social Reason:</label><br>
            <input type="text" id="socialReason">
        </div>

        <div class="form-group">
            <label for="comercialName">Comercial name:</label><br>
            <input type="text" id="comercialName">
        </div>

        <div class="form-group">
            <label for="comercialName2">Comercial name 2:</label><br>
            <input type="text" id="comercialName2">
        </div>

        <div class="form-group">
            <label for="car">Car:</label><br>
            <input type="text" id="car">
        </div>

        <div class="form-group">
            <label for="subcar">Subcar:</label><br>
            <input type="text" id="subcar">
        </div>

        <button type="submit" id="btnAgregarContacto"></button>

    </form>
</div>